<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DataContext" connectionString="data source=PE4-PC03; initial catalog=HAYLEYS_EF;persist security info=True;user id=sa;password=#compaq123;" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>